<h1><%= @brand.name %></h1>

<strong>Palettes: </strong> <%= @brand.palettes %> <br />
<strong>Age: </strong> <%= @brand.age %> <br />
<strong>Clean: </strong> 
<% if @brand.clean %>
Yes
<% else %>
No
<% end %>

<br>

<a href="/brands/<%= @brand.id %>/edit">Edit Brand</a>

<form action="/brands/<%= @brand.id %>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Brand" />
</form>